body {
    background-color: chartreuse;
    margin: 
}
p {
    color: blueviolet
}

p.plno {
    color: brown 
}

ol.lno {
    color: blue,
     
}

h2 {
    color: coral;
    font-size: 4em;
    align-content: center
}
